# Arquivos compilados e executáveis
*.exe
*.out
*.app
*.o
*.obj

# Pastas de build do CMake (MUITO IMPORTANTE)
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Configurações locais da IDE (VS Code)
.vscode/

# Arquivos de sistema operacional (Mac/Windows)
.DS_Store
Thumbs.db
#src/main.cpp
